{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='dashbots'>
        <h1 class="animated jackInTheBox header" id='main-card'>Registro Requiem</h1>
        <h5 class="header col s12 light grey-text">Este sitio se utiliza para mostrar los ticket del registro de RequiemSupport.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/gPmjAtW" class="btn waves-effect my-button">Discord</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
